In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import json

In [14]:
def read_json(json_path):
    data = []
    with open(json_path, 'r', encoding='utf-8') as files:
        for file in files:
            data.append(json.loads(file))
    return data

In [22]:
metadata_json = '/home/manhduong/HUST/RAW_DATA/movie_dataset_public_final/raw/metadata_updated.json'
reviews_json = '/home/manhduong/HUST/RAW_DATA/movie_dataset_public_final/raw/reviews.json'
ratings_json = '/home/manhduong/HUST/RAW_DATA/movie_dataset_public_final/raw/ratings.json'
survey_answers_json = '/home/manhduong/HUST/RAW_DATA/movie_dataset_public_final/raw/survey_answers.json'

In [15]:
metadata = read_json(metadata_json)
reviews = read_json(reviews_json)
ratings = read_json(ratings_json)
survey_answers = read_json(survey_answers_json)

In [18]:
reviews[0]

{'item_id': 172063,
 'txt': 'one-shot record of a belly dancer; "Carmencita Dancing," one of a series of Edison short films featuring \r circus and vaudeville acts, displayed the... um... "talents" of a zaftig belly-dancer who agreed to undulate before the camera of the famous "Black \r Maria" studio. \r \r The dance was originally intended to be played in a Kinetoscope, a single -person arcade viewer connected to Edison\'s more famous invention, the phonograph. Through a pair of crude headphones, the latter device supplied an asynchronous soundtrack of "hootchie-cootchie" music. \r \r The Kinetograph camera here employed is so new -- even to its inventors \r -- that director Dickson has drastically "overcranked" the film, unintentionally producing one of the first examples of slow-motion.\r \r Carmencita\'s titillating movements were considered by many to be \r scandalous. Thus, the film prompted some of the earliest discussions of film censorship.'}

In [20]:
ratings[0]

{'item_id': 5, 'user_id': 997206, 'rating': 3.0}

In [25]:
survey_answers[0]

{'user_id': 978707, 'item_id': 3108, 'tag_id': 50126, 'score': 3}

In [26]:
reviews_df = pd.DataFrame(reviews)

In [27]:
reviews_df.head()

   item_id                                                txt
0   172063  one-shot record of a belly dancer; "Carmencita...
1    95541  Banging Away..; Thomas Edison and William K.L....
2     7065  unbelievable; I cannot understand how anyone c...
3     3739  I'm still starry-eyed from it; I saw this last...
4     1562  Failed on every Front; Joel Schumacher who did...

In [28]:
tags_matching_df = pd.DataFrame(survey_answers)
tags_matching_df.head()

   user_id  item_id  tag_id  score
0   978707     3108   50126      3
1   978707     2858   50126      1
2   978707     1269   50126      1
3   978707     1136   50126      1
4   978707     1220   50126      1

In [29]:
ratings_df = pd.DataFrame(ratings)
ratings_df.head()

   item_id  user_id  rating
0        5   997206     3.0
1       10   997206     4.0
2       13   997206     4.0
3       17   997206     5.0
4       21   997206     4.0

In [30]:
metadata_df = pd.DataFrame(metadata)
metadata_df.head()

,title,directedBy,starring,avgRating,imdbId,item_id
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,0114709,1
1,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,0113497,2
2,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,0113228,3
3,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,0114885,4
4,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,0113041,5

In [41]:
## preprocess reviews_df
item_indices = reviews_df['item_id'].unique()
new_reviews_dict = []
for item_idx in item_indices:
    subdf = reviews_df[reviews_df['item_id']==item_idx]['txt']
    txts = subdf.unique()
    txt = '\n'.join(txts).lower()
    new_reviews_dict.append({
        'item_id': item_idx,
        'txt': txt
    })
new_reviews_df = pd.DataFrame(new_reviews_dict)

In [45]:
new_reviews_df.shape

(52081, 2)

In [42]:
movies_df = metadata_df.merge(new_reviews_df, on='item_id')

In [43]:
movies_df

,title,directedBy,starring,avgRating,imdbId,item_id,txt
0,Toy Story (1995),John Lasseter,"Tim Allen, Tom Hanks, Don Rickles, Jim Varney,...",3.89146,0114709,1,the one film that started what is now a cliché...
1,Jumanji (1995),Joe Johnston,"Jonathan Hyde, Bradley Pierce, Robin Williams,...",3.26605,0113497,2,fun little movie hidden in the back drawer; mo...
2,Grumpier Old Men (1995),Howard Deutch,"Jack Lemmon, Walter Matthau, Ann-Margret , Sop...",3.17146,0113228,3,"our second visit to wabasha, minnesota; sequel..."
3,Waiting to Exhale (1995),Forest Whitaker,"Angela Bassett, Loretta Devine, Whitney Housto...",2.86824,0114885,4,extra in movie; i was actually an extra in thi...
4,Father of the Bride Part II (1995),Charles Shyer,"Steve Martin, Martin Short, Diane Keaton, Kimb...",3.07620,0113041,5,the best movie of all time; let me tell you.. ...
...,...,...,...,...,...,...,...
52043,Journey's End (2018),Saul Dibb,"Sam Claflin,Asa Butterfield,Paul Bettany,Tom S...",3.29487,3780500,182369,"""charming war film that hits you hard!""; i was..."
52044,God's Bloody Acre (1975),Harry Kerwin,"Wayne Crawford,Jennifer Stock,Sam Moree,Daniel...",0.00000,0235433,182375,"saddle up the mule, ma. slide me some grits, i..."
52045,Femalien (1996),Cybil Richards,"Jacqueline Lovell,Matt Shue,Kurt Sinclair,Vene...",2.12500,0116294,182377,"femalien brings love, joy, hope to horny earth..."
52046,Kingdom of Us (2017),Lucy Cohen,"Paul Shanks,Vikie Shanks,Lorie-Lanie Shanks,Ni...",3.66667,7321274,182379,close look at the effects on family of suicide...
52047,Berlinguer ti voglio bene (1977),Giuseppe Bertolucci,"Roberto Benigni,Alida Valli,Carlo Monni,Sergio...",3.50000,0075742,182381,a gloss for non-italian viewers; if you're not...

In [46]:
movies_df.to_csv('/home/manhduong/HUST/RAW_DATA/movie_dataset_public_final/our_processed/movies.csv')